<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
	body,table,p{
		font-family : Verdana,Arial,Helvetica,sans-serif;
		font-size : 12px;
	}
	.approve td{
		border-bottom : 1px dotted;
		padding-top : 15px;
		padding-bottom : 5px;
	}
</style>
</head>
<body>

<p>Thank you for your confirmation!</p>
<p>You could view the order's detail information via the link below:</p>
<p>JOB NO: <a href="%s">%s</a> , Old Navy PO : %s , Vendor PO : %s </p>
%s
<br />
<p>该图样仅供参考，对于尺寸和特殊要求并不准确。任何服装厂商利用该图样擅自生产可能会招致退款。<br />
本文档的目的仅作为个人或组织的参考使用，它所包含的信息是保密的。 未经r-pac公司同意允许不得复制或分发。</p>

<p>****************************************************************************<br />
This e-mail is sent by the r-pac Old Navy Care Label ordering system automatically.<br />
Please don't reply this e-mail directly!<br />
****************************************************************************</p>

</body>
</html>