<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style type="text/css">
	body,table,p{
		font-family : Verdana,Arial,Helvetica,sans-serif;
		font-size : 12px;
	}
	.approve td{
		border-bottom : 1px dotted;
		padding-top : 15px;
		padding-bottom : 5px;
	}
</style>
</head>
<body>

<p>Thank you for your confirmation!</p>
<p>You could view the order's detail information via the link below:</p>
<p>JOB NO: <a href="%s">%s</a> , Old Navy PO : %s , Vendor PO : %s </p>
%s
<br />
<br />
<br />
<p><strong>Additional Notes by Market:</strong></p>
<p><strong>ISO Care Symbols (EU/GFL)</strong>
<br />
Symbols must appear on the label in the following order:
<ul>
<li>Washing</li>
<li>Bleaching</li>
<li>Drying</li>
<li>Ironing</li>
<li>Dry Cleaning</li>
</ul>
</p>
<p>A registration mark,&reg;, must appear at the end of the row of symbols.<br />
Symbols must have the Gap Inc. GINETEX registration  number, 1166, centered below the row of symbols.</p>
<p>The symbols above are the ones used commonly by Gap Inc. There are other symbols in the ISO standards that are not used due to special testing requirements not used by Gap Inc. or little  applicability to our typical garments.  For example, we do not apply the special testing required for "very gentle wash," so this ISO symbol must not be used on Gap Inc. labels.</p>
<p>Optional symbols representing wash cycles at 50&#176;C and 70&#176;C {122&#176;F and 158&#176;F, both "Hot") have been added to the new ISO standard.  However, they should not be used on Gap Inc. labels because some countries {e.g., France) do not endorse these temperatures as not all washing machines in Europe have selections for these settings.  "Hot" is adequately represented by symbols with 60&#176;C.</p>
<p>Japanese Care Symbols<br />
Symbols must appear on the label in the following  order:
<ul>
<li>Washing</li>
<li>Bleaching</li>
<li>Ironing</li>
<li>Dry Cleaning</li>
<li>Wringing (optional)</li>
<li>Drying<sup>*</sup></li>
<li>Miscellaneous Care Instructions<sup>*</sup></li>
</ul>
</p>
<p><sup>*</sup>Drying instructions  and instructions  not covered by a symbol must be translated in Japanese ifthey appear on accompanying
CA/EU/US label.</p>
<br />
<br />
<p><strong>ISO Care Symbols- China</strong><br />
China adopted Europe's ISO care symbol standard in an updated version that has not yet become effective in the EU. Thus, there are a few small differences between the ISO symbols in the EU and China for natural drying.</p>
<p>As in the EU, the symbols must appear on the label in the following order:
<ul>
<li>Washing</li>
<li>Bleaching</li>
<li>Drying</li>
<li>Ironing</li>
<li>Dry Cleaning</li>
</ul>
</p>
<p>Differences for China:
<ol>
<li>Gap's Ginetex license number (1166) or the registered mark 4D are not applicable in China</li>
<li>Symbols for Line Dry and Drip Dry are different from EU symbols.</li>
<li>Symbol for Dry in the Shade is one diagonal line over the natural drying symbol instead of two lines.</li>
<li>If Tumble Dry is unacceptable, do not cross out symbol.  Replace with the symbol for line dry, dry flat, etc. and include special care text "Do not tumble dry."</li>
</ol>
</p>
<p><strong>Japan Care Symbols</strong><br />
There are four mandatory Japan care symbols and two optional Japan care symbols. The symbols must appear in the following order:
<ul>
<li>Washing</li>
<li>Bleaching</li>
<li>Ironing</li>
<li>Dry cleaning</li>
<li>Wringing (optional)</li>
<li>Drying (optional)</li>
</ul>
</p>
<p>Any special care instructions  not covered by the Japan care symbols must be translated into Japanese and must appear immediately  below the Japan care symbols, including instructions for drying.</p>


<p><strong>Korea Care Symbols</strong><br />
Symbols must appear on the label in the following order:
<ul>
<li>Washing</li>
<li>Bleaching</li>
<li>Ironing</li>
<li>Dry Cleaning</li>
<li>Wringing (optional)</li>
<li>Drying</li>
<li>Miscellaneous Care Instructions</li>
</ul>
Any special care instructions  not covered by the Korea care symbols must be translated into Korean and must appear immediately  below the Korea care symbols.</p>
<br />
<p>****************************************************************************<br />
This e-mail is sent by the r-pac Old Navy Care Label ordering system automatically.<br />
Please don't reply this e-mail directly!<br />
****************************************************************************</p>
</body>
</html>